
.mainContainer {
  background-color: #1E242A !important;
  padding: 5px 5px;
  box-shadow: none !important;
  height: 1vh !important;
  text-decoration: none;
}

.container {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  text-decoration: none;
}

.navLinkContainer {
  display: flex !important;
  align-items: center !important;
}

.navLinks a {
  font-family: 'Bahnschrift Condensed';
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
  margin-right: 80px;
  margin-top: 20px;
  margin-left: 0px;
  list-style: none;
  text-decoration: none;
}

.drawer {
  background-color: #1E242A !important;
  width: 250px !important;
  height: 2000px !important;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.text {
  color: #f7f7f7 !important;
  margin-bottom: 25px !important;
  height: fit-content !important;
  background-color: #1E242A !important;
}

.text span {
  font-weight: bold !important;
  text-decoration: none !important;
}

.text:hover {
  color: #f8dc81 !important;
  padding: 10px 10px !important;
}

.list:hover {
  background-color: #1E242A !important;
}

.list a {
  text-decoration: none !important;
  
}

.projectLink a {
  font-size: 1rem !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
  cursor: pointer !important;
  background-color: #f8dc81 !important;
  color: #1E242A !important;
  padding: 5px 5px !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.navLinks a:hover {
  color: #f8dc81 !important;
}

.projectLink a:hover {
  background-color: #353530 !important;
  padding: 10px 10px !important;
  color: #f8dc81 !important;
  padding: 5px 5px !important;
}

.logo {
  margin-left: 30px !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}

.toggle {
  display: none !important;
}

.toggler {
  color: #f8dc81 !important;
}


.bottom{
  background-color: #1E242A;
  width: 250px;
  padding: 20px 0;
  text-align: center;
  bottom: 0%;
}

.bottom p{
  color: white;
  font-size: 12px;
  word-spacing: 2px;
  text-transform: capitalize;
  justify-items: center;
}

.footer{
  width: 250px;
  background-color: #1E242A;
  margin: 0rem 0 -4rem 0px;
  padding-top: 10px;
}


.socials{
  list-style: none;
  display: flex;
  align-self: center;
  margin: 0rem 0 0rem 8px;
}

.socials li{
  margin: 0px 20px 0px 5px;
}

.socials a{
  text-decoration: none;
  color: white;
}

.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;
}

.socials a:hover i{
  color: #f8dc81;
  transform: scale(1.2);
}




@media (max-width: 780px) {
  .container {
    flex-direction: column !important;
  }

  .navLinkContainer {
    display: none !important;
    text-decoration: none;
  }

  .navLinks,
  .projectLink {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }

  .logo {
    margin-left: 20px !important;
  }

  .toggleContainer {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100% !important;
    text-decoration: none;
  }

  .toggle {
    display: flex !important;
    cursor: pointer !important;
    flex-direction: column !important;
  }
}



@media(max-width: 1000px){
  .navLinks a {
    font-family: 'Bahnschrift Condensed';
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    margin-right: 50px;
    margin-top: 20px;
    margin-left: 0px;
    list-style: none;
    text-decoration: none;
  }
}

@media(max-width: 1200px){
  .navLinks a {
    font-family: 'Bahnschrift Condensed';
    font-size: 15px;
    color: white;
    letter-spacing: 2px;
    margin-right: 60px;
    margin-top: 20px;
    margin-left: 0px;
    list-style: none;
    text-decoration: none;
  }
}
